parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast JTGenerator\\\\Contracts\\\\ClassInterface to string\\.$#"
			count: 1
			path: src/Renderer.php

		-
			message: "#^Binary operation \"\\.\" between string and array\\|string\\|null results in an error\\.$#"
			count: 1
			path: src/Renderer.php

		-
			message: "#^Parameter \\#1 \\$type of method JTGenerator\\\\Renderer\\:\\:renderType\\(\\) expects string\\|null, array\\|string\\|null given\\.$#"
			count: 1
			path: src/Renderer.php

